.ChatItem {
  margin-bottom: 0.4rem;
}

.ChatItem-time {
  width: 3rem;
  display: inline-block;
  text-align: right;
}

.ChatItem-header {
  margin-bottom:0.2rem;
}

.ChatItem-provisional {
  opacity: 0.4;
}
