<div id="app">Loading...</div>

<script>
  // TODO: find a better way to pass data from Elixir to JS
  var BACRO_GLOBALS_EWW_GROSS = {
    user: '<%= user @conn %>'
  };
</script>

<%= if Mix.env == :dev do %>
  <script src='http://localhost:4001/vendor.js'></script>
  <script src='http://localhost:4001/app.bundle.js'></script>
<% else %>
  <script src="<%= static_path(@conn, "/js/vendor.js") %>"></script>
  <script src="<%= static_path(@conn, "/js/app.bundle.js") %>"></script>
<% end %>
